<div class="dashboard-container-redacteur">
    <section class="dashboard-header-redacteur">
        <div class="dashboard-content-redacteur">
            <h2>Tableau de bord</h2>
            <p>Vue d'ensemble de votre site</p>
        </div>

        <div class="dashbord-profil-redacteur">
            <div class="dashboard-image-redacteur"  >{{ initial }}</div>
            <div class="dashboard-redacteur-info">
                <h3>{{ firstName }} {{ lastName }}</h3>
                <p>{{ roles }}</p>
            </div>
        </div>
    </section>
    <section class="dashboard-stats-redacteur">
        <div class="dashbord-stats">
            <i class="checkmark-done-outline"><ion-icon name="checkmark-done-outline"></ion-icon></i>
            <div class="dashboard-stats-content-redacteur">
                <p>Mes articles publiés</p>
                <p><strong>{{ nombreMesArticle }}</strong></p>
                <p class="publiés-stats">Au total.</p>
            </div>  
        </div>
        <div class="dashbord-stats">
            <i class="hourglass-outline"><ion-icon name="document-outline"></ion-icon></i>
            <div class="dashboard-stats-content-redacteur">
                <p>Mes articles en brouillon</p>
                <p><strong>{{ nombreArticleBrouillon }}</strong></p>
                <p class="brouillon-stats">En attente de publication...</p>  
            </div>  
        </div>
        <div class="dashbord-stats">
            <i class="calendar-number-outline"><ion-icon name="calendar-number-outline"></ion-icon></i>
            <div class="dashboard-stats-content-redacteur">
                <p>Mes articles planifiés</p>
                <p><strong>{{ nombreArticlePlanifier }}</strong></p>
                <p class="planifier-stats">En attente du jour de publication...</p>
            </div>  
        </div>
       
    </section>
     <section class="article-liste-redacteur">
        <h2>Plus récents</h2><br>
        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Catégorie</th>
                    <th>Statut</th>
                    <th>Date de création</th>
                </tr>
            </thead>
            <tbody>
                <!-- Les lignes de l'article seront ajoutées ici -->
                {{#each mesArticles}}
                <tr>
                    <td>{{ this.title }}</td>
                    <td>{{ this.categorie }}</td>
                    <td>{{ this.status }}</td>
                    <td>{{ this.created_at }}</td>
                </tr>
                {{/each}}
               
            </tbody>
        </table>
    </section>
</div>
