<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <meta name="description" content="{{description}}">
    <meta name="author" content="INFORMEZ-VOUS.CD">
    <meta name="robots" content="index, follow">

    <!-- Open Graph : Facebook, LinkedIn et WhatsApp -->
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:image" content="https://informez-vous-cd.onrender.com/assets/{{image}}">
    <meta property="og:image:secure_url" content="https://informez-vous-cd.onrender.com/assets/{{image}}">
    <meta property="og:image:alt" content="{{title}}">
    <meta property="og:url" content="{{url}}">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="INFORMEZ-VOUS.CD">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:image:type" content="image/jpeg">

    <!-- Twitter / X -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image" content="https://informez-vous-cd.onrender.com/assets/{{image}}">
    <meta name="twitter:image:alt" content="{{title}}">


    <link rel="stylesheet" href="/css/global.css">
    <link rel="icon" type="image/jpeg" href="/assets/logo.jpeg">
    <script type="module" src="/js/global.js" defer></script>
    {{#each styles}}
        <link rel="stylesheet" href="/css/{{ this }}">
    {{/each}}
    {{#each scripts}}
        <script type="module" src="/js/{{ this }}" defer></script>
    {{/each}}
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {{> visiteurs/header }}

    <main>
        {{{ body }}}
    </main>

    {{> visiteurs/footer }}
</body>
</html>
