<div class="apercu-article-container-amin">
  <section class="apercu-article-content-admin">
    <div class="apercu-article-content-categorie-admin">
      <p><strong>{{#if categoriecase}}
    {{categoriecase}}
{{else}}
    Catégorie supprimée
{{/if}}  
</strong>- {{#if subCategorie}}
    {{subCategorie.slug}}
{{else}}
    Sous-catégorie supprimée
{{/if}}  </p>
    </div>
    <div class="apercu-article-content-titre-admin">
      <h1>

        {{article.title}}
      </h1>
    </div>
    <div class="apercu-article-content-img-auteur-date-admin">
      <div class="apercu-article-content-auteur-date">
        <div class="apercu-article-content-auteur">
          <p> <span>Publié en </span></p>
        </div>
        <i></i>
        <div class="apercu-article-content-date">
          <p>{{article.created_at}}</p>
        </div>
        {{!-- <i></i> --}}
        {{!-- <div class="apercu-article-content-role">
          <p>{{auteur.role}}</p>
        </div> --}}
      </div>
      <div class="apercu-article-content-img">
        <img src="{{article.image}}" alt="Image d'un article" />

      </div>
      <button id="btn-share">Partager l'article</button>


    </div>
    <div class="apercu-article-content-paragraphe-admin">

      <p>
        {{{article.content}}}
      </p>

    </div>
  </section>

  <section class="article-simulaire">
    <h2>Poursuivez votre lecture :</h2>
    <div class="sugestion-article">
        {{#each suggestions}}
        <a href="/lire-article?id={{id}}">
            <img src="{{image}}" alt="Image d'un article">
            <div class="sugestion-article-details">
                <h3>{{title}}</h3>
                <p>{{summary}}</p>
                <p>{{created_at}}</p>
            </div>
        
        </a>
        {{/each}}
    </div>
  </section>
</div>