<div class="apercu-article-container-amin">
  <section class="apercu-article-content-admin">
    <div class="img-logo-lire-article">

    </div>
    <section class="apercu-article-container-publicite">
      <h1>Publicités</h1>
      <div class="pub-container">
        <div class="pub-un"></div>
        <p>
          <a href="https://csn-ghc.cd"> Caisse de Solidarité Nationale et de Gestion Humanitaire des Catastrophes (CSN-GHC)
          est un établissement public à caractère social et culturel de la République Démocratique du Congo.
          Créée par décret en novembre 2021, elle est placée sous la tutelle du Ministère des Affaires Sociales,
          Actions Humanitaires et Solidarité Nationale.
          Elle a pour objectifs de mobiliser et canaliser les flux financiers et matériels pour faire face aux crises 
          humanitaires (affrontements armés, conflits communautaires et fonciers, catastrophes naturelles) 
          Mais également prendre en charge et assister les personnes en détresse et les populations déplacées, 
          notamment celles victimes de l'agression dans l'Est du pays.</a>
        </p>
        <a class="lien-vers-site-pub" 
        href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://csn-ghc.cd/wp-content/uploads/2022/12/DEPLIANT-CAMPAGNE.pdf&ved=2ahUKEwii-6vyma2VAxUrYEEAHYrUCvoQFnoECEMQAQ&usg=AOvVaw1g-p2OXZ9914NEiLilo_en">
        Plus de détails...</a>
      </div>
    </section>
    <div class="apercu-article-content-categorie-admin">
      <p><strong>{{#if categoriecase}}
            {{categoriecase}}
          {{else}}
            Catégorie supprimée
          {{/if}}
        </strong>-
        {{#if subCategorie}}
          {{subCategorie.slug}}
        {{else}}
          Sous-catégorie supprimée
        {{/if}}
      </p>
    </div>
    <div class="apercu-article-content-titre-admin">
      <h1>

        {{article.title}}
      </h1>
    </div>
    <div class="apercu-article-content-img-auteur-date-admin">
      <div class="apercu-article-content-auteur-date">
        <div class="apercu-article-content-auteur">
          <p> <span>Publié en </span></p>
        </div>
        <i></i>
        <div class="apercu-article-content-date">
          <p>{{article.created_at}}</p>
        </div>
        {{! <i></i> }}
        {{!-- <div class="apercu-article-content-role">
          <p>{{auteur.role}}</p>
        </div> --}}
      </div>
      <div class="apercu-article-content-img">
        <img src="{{article.image}}" alt="Image d'un article" />

      </div>
      <div class="share-views">

        <p>
          <ion-icon name="eye-outline"></ion-icon>
          <span id="views-count">{{article.views}}</span>

          {{!-- {{#if ( eqs article.views  1)  }}
                personne
                {{else}}
                personnes

            {{/if}} --}}
        </p>
        <button id="btn-share">Partager l'article</button>
      </div>

    </div>
    <div class="apercu-article-content-paragraphe-admin">

      <p>
        {{{article.content}}}
      </p>

    </div>
  </section>

  <section class="article-simulaire">
    <h2>Poursuivez votre lecture :</h2>
    <div class="sugestion-article">
      {{#each suggestions}}
        <a href="/lire-article?id={{id}}">
          <img src="{{image}}" alt="Image d'un article" />
          <div class="sugestion-article-details">
            <h3>{{title}}</h3>
            <p>{{summary}}</p>
            <p>{{created_at}}</p>
          </div>

        </a>
      {{/each}}
    </div>
  </section>
</div>